body {
    margin: 0;
    padding: 0;
    max-height: 100dvh;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif\;
}

.top-bar {
    width: 100dvw;
    height: fit-content;
    background: #fc0303;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.top-bar button {
    color: #ffffff;
    border-radius: 20px;
    background: #ad0303;
    margin: 0px 20px;
    text-decoration: none;
    align-content: center;
    width: 90px;
    height: 90px;
    font-size: 15px;
    text-align: center;
    border: 0px;
}

.top-bar a:hover {
    color: rgb(100, 0, 0);
    cursor: default;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.product-image {
    width: 250px;
    height: 250px;
    margin: 0;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-color: white;
}

.product-container {
    background: #e3e3e1;
    padding: 30px;
    margin: 10px 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 25%;
    width: 300px;
    height: fit-content;
}

.product-addtocart {
    border: 0px;
    background: #fc0303;
    padding: 10px 20px;
    color: #ffffff;
    margin-top: 5px;
    font-size: 22px;
    border-radius: 35px;
}

.product-description, .product-cost {
    margin: 2px;
}

.product-description, .product-cost {
    font-size: 25px;
}

#product-categories {
    position: fixed;
    left: 10px;
    top: 12%;
    background: #fc0303;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 143px;
    padding: 10px 30px;
    border: 0px;
    transition: 0.2s;
}

#product-categories p {
    color: white;
    font-weight: 1000;
    background: #ad0303;
    padding: 5px 10px;
    width: 100px;
    text-align: center;
    transition: 0.2s;
}

#product-categories p:hover {
    scale: 1.1;
}